<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/Jeff/Drexel/MET Lab/MRP/MRP_iOS_Control/of_v0073_ios_release/apps/myApps/MRP_iOS_Control/MRP_iOS_Control.xcodeproj</string>
</dict>
</plist>
